* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Verdana';
}

body,
html {
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: 'Verdana';
	src: url('fonts/verdana.eot');
	src: url('fonts/verdana.eot?#iefix') format('embedded-opentype'),
		url('fonts/verdana.woff2') format('woff2'),
		url('fonts/verdana.woff') format('woff'),
		url('fonts/verdana.ttf') format('truetype'),
		url('fonts/verdana.svg#verdana') format('svg');
}

/*Оболочка*/

.background {
	background-image: url('../img/main background 2.png');
	background-repeat: repeat;
}

/*Шапка*/

.top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #1e1e2071;
	color: #fff;
	height: 8.4vh;
	padding: 1.4vh 0px;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.header-logo img {
	height: 4.9vh;
	margin-left: 5.23vw;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin-right: 5.23vw;
	padding: 0;
}

.menu > li {
	margin: 0px 0.65vw;
	font-size: 1.05vw;
	overflow: hidden;
}

.menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	margin-right: 5.23vw;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: #fff;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}

.menu-button::after {
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

@media (orientation: portrait) {
	@media (max-width: 1400px) {
		.menu > li {
			font-size: 1.8vw;
		}
	}
}

@media (max-width: 600px) {
	@media (orientation: portrait) {
		.menu-button-container {
			display: flex;
		}

		.menu {
			position: absolute;
			top: 0;
			margin-top: 8.4vh;
			left: 0;
			flex-direction: column;
			width: 100%;
			justify-content: center;
			align-items: center;
		}

		#menu-toggle ~ .menu li {
			height: 0;
			margin: 0;
			padding: 0;
			border: 0;
			transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		}

		#menu-toggle:checked ~ .menu li {
			border: 0px solid #1e1e20;
			height: 2.2em;
			padding: 0.3em;
			transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		}

		.menu > li {
			display: flex;
			justify-content: center;
			margin: 0;
			padding: 0.5em 0;
			width: 100%;
			color: white;
			background-color: #1e1e2071;
			font-size: 2.24vh;
		}
	}
}

/*Тело*/
/*Обложка*/

.Cover {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../img/background.png');
	background-size: cover;
	background-position: center 0;
	height: 100vh;
	position: relative;
}

.text-On-Photo {
	color: #fff;
	height: 60vh;
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.text-On-Photo h2 {
	font-size: 3.4vw;
	font-style: italic;
	font-weight: bold;
}

.text-On-Photo h3 {
	font-size: 1.44vw;
	font-weight: 100;
	padding-bottom: 6vh;
}

.button-signUp a {
	background-color: #962715;
	padding: 2.3vh 5vh;
	border-radius: 1.3vw;
	font-size: 1.3vw;
	font-weight: 200;
}

@media (orientation: portrait) {
	@media (max-width: 1024px) {
		.text-On-Photo {
			height: 50vh;
			width: 90vw;
		}

		.text-On-Photo h2 {
			font-size: 3.5vh;
		}

		.text-On-Photo h3 {
			font-size: 2.5vh;
			padding-bottom: 6vh;
		}

		.button-signUp a {
			font-size: 2.5vh;
			padding: 2.3vh 5vh;
			border-radius: 2vh;
		}
	}
}

/*Преимущества*/

.Advantages {
	color: #fff;
	height: 100vh;
}

.Advantages ul {
	list-style-type: none;
	margin-left: 12.4vw;
	padding-right: 12.4vw;
	margin-top: 7vh;
}

.Advantages li {
	margin-top: 7.7vh;
	font-size: 1.2vw;
	display: inline-block;
}

.Advantages img {
	filter: invert();
	width: 4.6vw;
	padding-right: 2vw;
}

@media (orientation: portrait) {
}

/*Видео или О нас. ХЗ как назовем*/

.Stocks h1 {
	padding-top: 45px;
	margin-left: 190px;
	padding-right: 190px;
}

/*Услуги*/

.Services h1 {
	padding-top: 45px;
	margin-left: 190px;
	padding-right: 190px;
}

.Services ul {
	list-style-type: none;
	padding-top: 45px;
	padding-bottom: 45px;
	margin-left: 190px;
	padding-right: 190px;
}
.Services li {
	font-size: 28px;
	width: 100%;
	display: inline-flex;
}

.price {
	margin-left: auto;
	float: right;
}

.line {
	background-color: #1e1e20;
	width: 100%;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Отзывы*/

.Reviews {
	padding-bottom: 45px;
}

.Reviews h1 {
	padding-top: 45px;
	padding-bottom: 45px;
	margin-left: 190px;
	padding-right: 190px;
}

.slider {
	width: 1000px;
	overflow: hidden;
	left: 50%;
	transform: translate(-50%);
	position: relative;
	text-align: center;
}

.slider-nav {
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.bar {
	height: 10px;
	width: 15px;
	margin: 6px;
	cursor: pointer;
	background-color: #ddd;
	opacity: 0.7;
	border-radius: 10px;
	transition: all 0.4s ease;
}

.bar:hover {
	opacity: 0.85;
	transform: scale(1.1);
}

.prev-button,
.next-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background-color: #962615d5;
	border: none;
	border-radius: 15px;
	font-size: 24px;
	color: rgb(255, 255, 255);
}

.prev-button {
	left: 10px;
}

.next-button {
	right: 10px;
}

input[name='r'] {
	position: absolute;
	visibility: hidden;
}

.slides {
	width: 500%;
	height: 100%;
	display: flex;
	align-items: center;
}

.slide {
	width: 20%;
	transition: all 0.6s ease;
}

.slide img {
	width: 80%;
	text-align: center;
}

#r1:checked ~ .s1 {
	margin-left: 0;
}

#r2:checked ~ .s1 {
	margin-left: -20%;
}

#r3:checked ~ .s1 {
	margin-left: -40%;
}

#r4:checked ~ .s1 {
	margin-left: -60%;
}

/*Контакты*/

.Contacts {
	background-color: #000;
	position: relative;
	display: inline-block;
}

.Contacts img {
	max-width: 100%;
	opacity: 0.4;
}

.onMap {
	position: absolute;
	top: 45px;
	left: 50%;
	transform: translate(-50%);
}

.onMap h2 {
	color: #000;
	font-size: 52px;
	font-weight: bold;
	text-align: center;
}

.contacts {
	background-color: #1e1e20bd;
	padding: 40px;
	border-radius: 20px;
	font-size: 34px;
	margin-top: 45px;
}

.cont {
	color: #bbc3c6;
}

/*Подвал*/

footer {
	background-color: #1e1e20;
	padding-top: 45px;
	padding-bottom: 45px;
	padding-left: 190px;
	padding-right: 190px;
	display: flex;
	justify-content: center;
}

.footLogo {
	display: flex;
	align-items: center;
}

.footLogo img {
	height: 35px;
}

.foot-navigation {
	margin-left: auto;
	margin-right: auto;
}

.foot-nav {
	color: #fff;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	right: auto;
}

.foot-contact {
	color: #fff;
	font-size: 18px;
}

.foot-nav a,
.foot-contact p {
	margin-bottom: 10px;
}
