* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Verdana';
}

a {
	color: #fff;
	text-decoration: none;
}

.break {
	display: block;
}

body,
html {
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: 'Verdana';
	src: url('fonts/verdana.eot');
	src: url('fonts/verdana.eot?#iefix') format('embedded-opentype'),
		url('fonts/verdana.woff2') format('woff2'),
		url('fonts/verdana.woff') format('woff'),
		url('fonts/verdana.ttf') format('truetype'),
		url('fonts/verdana.svg#verdana') format('svg');
}

/*ШАПКА*/

.Header {
	height: 80px;
	width: 100%;
	z-index: 10;
	position: fixed;
	background-color: #000000cb;
	color: #fff;
}

.header-container {
	height: 100%;
	max-width: 1840px;
	padding: 0 100px;
	margin: auto;

	display: flex;
	justify-content: space-between;
	align-self: center;
}

.header-logo {
	height: 50px;
	align-self: center;
}

.header-logo img {
	height: 100%;
}

.menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: #fff;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}

.menu-button::after {
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

.menu-div {
	/*+100px;*/
	width: 550px;
	display: flex;

	justify-content: space-between;
	align-self: center;
}

.menu-ul {
	display: none;
	list-style-type: none;
}

@media (max-width: 1100px) {
	.menu-button-container {
		text-align: center;
		display: flex;
	}

	.menu-div {
		display: none;
	}

	.menu-ul {
		display: inline;
		position: absolute;
		top: 0;
		margin-top: 80px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	#menu-toggle ~ .menu-ul li {
		display: none;
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	#menu-toggle:checked ~ .menu-ul li {
		border: 1px solid #000000cb;
		display: flex;
		height: 2.2em;
		padding: 0.3em;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.menu-ul > li {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: white;
		background-color: #000000cb;
		font-size: 2.24vh;
	}

	@media (max-width: 460px) {
		.header-container {
			padding: 0 30px;
		}
	}
}

/*ТЕЛО*/

.background {
	background: url('../img/background.webp');
	background-size: contain;
	background-repeat: repeat;
	/*background-color: #1e1e20;*/
}

/*ОБЛОЖКА*/

.Cover {
	height: 800px;
	padding-top: 200px;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../img/background-cover.webp');
	background-size: cover;
	background-position: center 0;
}

.cover-content {
	padding: 0 40px;
	max-width: 1200px;
	margin: auto;
	color: #fff;
}

.cover-content h1 {
	font-size: 52px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 60px;
}

.cover-content p {
	font-size: 22px;
	font-weight: 100;
	color: #bbc3c6;
	margin-bottom: 80px;
}

.button-signUp {
	background-color: #962715;
	padding: 16px 35px;
	border-radius: 1.3vw;
	font-size: 22px;
	font-weight: 200;
	transition: background 0.3s;
}

.button-signUp:hover {
	background: #7a1f10;
}

@media (max-width: 1200px) {
	.cover-content {
		width: 960px;
	}

	.cover-content h1 {
		font-size: 48px;
	}

	.cover-content p {
		font-size: 20px;
	}

	.button-signUp {
		font-size: 20px;
	}
}

@media (max-width: 960px) {
	.Cover {
		height: 800px;
		padding-top: 200px;
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
			url('../img/background-cover-mobile.webp');
		background-size: cover;
		background-position: center 0;
	}
	.cover-content {
		width: 640px;
	}
}

@media (max-width: 640px) {
	.cover-content {
		width: 100%;
	}

	.cover-content h1 {
		font-size: 30px;
	}

	.cover-content p {
		font-size: 18px;
	}

	.button-signUp {
		font-size: 18px;
	}
}

@media (max-width: 320px) {
	.cover-content {
		padding: 0 20px;
	}
}

/*ПРЕИМУЩЕСТВА*/

.advantages-container {
	list-style-type: none;
	max-width: 1200px;
	margin: auto;
	color: #fff;
	padding: 50px 0;
}

.point-li {
	background-image: url('../img/background-logo.webp');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	display: flex;
	justify-content: space-between;
	padding: 50px 40px;
}

.advantage-points {
	font-size: 16px;
	width: 500px;
}

.advantage-points h2 {
	font-size: 38px;
	font-style: italic;
}

.advantage-points h3 {
	margin-top: 30px;
	font-size: 30px;
}

.point-text {
	font-size: 20px;
	margin-top: 50px;
}

.advantage-img {
	align-self: center;
}

.advantage-img img {
	width: 430px;
}

.advantage-img-mob {
	display: none;
}

.advantage-button-wrapper {
	text-align: center;
	margin: 50px 0;
}

.advantage-button-signUp {
	background-color: #962715;
	padding: 16px 35px;
	border-radius: 15px;
	font-size: 22px;
	font-weight: 200;
	transition: background 0.3s;
}

.advantage-button-signUp:hover {
	background: #7a1f10;
}

@media (max-width: 1200px) {
	.advantages-container {
		width: 960px;
	}

	.advantage-points {
		width: 400px;
	}

	.advantage-img img {
		width: 370px;
	}
}

@media (max-width: 960px) {
	.advantages-container {
		width: 640px;
	}

	.point-li {
		height: 100%;

		display: flex;
		justify-content: space-between;
		padding: 50px 20px;
	}

	.advantage-points {
		width: 300px;
	}

	.advantage-points h2 {
		font-size: 28px;
		font-style: italic;
	}

	.advantage-points h3 {
		font-size: 22px;
	}

	.point-text {
		margin-top: 30px;
		font-size: 18px;
	}

	.advantage-img img {
		width: 270px;
	}
}

@media (max-width: 640px) {
	.advantages-container {
		width: 100%;
	}

	.point-li {
		background-image: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.advantage-points {
		align-self: center;
		width: 370px;
	}

	.point-text {
		margin-top: 20px;
	}

	.advantage-img {
		margin-top: 40px;
	}

	.advantage-img-pc {
		display: none;
	}

	.advantage-img-mob {
		display: inline;
	}

	.point-br {
		display: none;
	}
}

@media (max-width: 460px) {
	.advantage-points {
		align-self: center;
		width: 280px;
	}

	.advantage-button-signUp {
		padding: 14px 28px;
		font-size: 16px;
	}
}

@media (max-width: 320px) {
	.point-li {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.advantage-points {
		width: 100%;
		font-size: 14px;
		align-self: center;
	}

	.advantage-points h2 {
		font-size: 22px;
		font-style: italic;
	}

	.advantage-points h3 {
		font-size: 18px;
	}

	.point-text {
		font-size: 16px;
	}

	.advantage-img img {
		width: 90%;
	}

	.advantage-button-signUp {
		padding: 14px 20px;
		font-size: 14px;
	}
}

/*О НАС*/

.About {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../img/background-cover.webp');
	background-size: cover;
	background-position: center 0;
}

.about-container {
	max-width: 1200px;
	padding: 100px 0px;
	margin: auto;
}

.section-header {
	text-align: center;
	padding-bottom: 40px;
}

.section-header h2 {
	font-size: 38px;
	color: #ffffff;
	font-weight: 300;
	padding-bottom: 20px;
}

.section-header p {
	font-size: 20px;
	color: #bbc3c6;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	line-height: 1.6;
}

.video-wrapper {
	justify-content: center;
	position: relative;
}

.video-frame {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
	transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.video-frame:hover {
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.65);
}

.video-iframe {
	width: 100%;
	height: 675px;
	border: none;
	border-radius: 15px;
	display: block;
}

@media (max-width: 1200px) {
	.about-container {
		width: 960px;
	}

	.video-frame,
	.video-iframe {
		height: 540px;
	}
}

@media (max-width: 960px) {
	.about-container {
		width: 640px;
	}

	.section-header h2 {
		font-size: 28px;
	}

	.section-header p {
		font-size: 18px;
	}

	.video-frame,
	.video-iframe {
		height: 360px;
	}
}

@media (max-width: 655px) {
	.about-container {
		width: 460px;
		padding: 30px 10px;
	}

	.video-frame,
	.video-iframe {
		height: 248px;
	}
}

@media (max-width: 460px) {
	.about-container {
		width: 320px;
		padding: 10px 10px;
	}

	.section-header h2 {
		font-size: 24px;
	}

	.section-header p {
		font-size: 16px;
	}

	.video-frame,
	.video-iframe {
		height: 168px;
	}
}

/*УСЛУГИ*/

.services-container {
	max-width: 1200px;
	padding: 100px 0px;
	padding-bottom: 50px;
	margin: auto;
	color: #fff;
}

.services-container h2 {
	font-size: 38px;
	padding: 0 40px;
	padding-bottom: 50px;
	font-style: italic;
}

.services-container h3 {
	font-size: 30px;
	padding: 0 40px;
}

.services-table {
	font-size: 20px;
	padding: 50px 0px;
}

.services-table table {
	width: 100%;
	border-collapse: collapse;
}

.td-padd {
	padding: 10px;
}

.services-painting thead {
	border-bottom: 1px solid #fff;
}

.td-middle {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.tr-middle {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.tr-middle-r-price {
	border-top: 1px solid #8d8d8d;
	border-bottom: 1px solid #8d8d8d;
}

.td-price-tire {
	width: 320px;
}

.td-price-tire-2 {
	width: 105px;
}

.td-price-collapse {
	width: 170px;
	border-left: 1px solid #fff;
}

.td-price,
.tr-head {
	text-align: center;
}

thead,
.td-first {
	background-color: #bbc3c630;
}

.tire-description {
	font-size: 20px;
	color: #bbc3c6;
	padding: 50px 0px;
}

.price-separator-br {
	display: none;
}

.painting-ph,
.painting-ph-2,
.td-price-tire-ph {
	display: none;
}

.td-price-s {
	font-size: 12px;
	color: #bbc3c6;
}

@media (max-width: 1280px) {
	.services-container {
		width: 960px;
	}

	.services-table {
		font-size: 18px;
		padding: 30px 0px;
	}

	.td-price-tire {
		width: 290px;
	}

	.td-price-tire-2 {
		width: 90px;
	}

	.td-price-collapse {
		width: 160px;
	}

	.painting-pc {
		display: none;
	}

	.painting-ph {
		width: 100%;
		display: table;
		text-align: center;
	}

	.tire-description {
		padding: 30px 0px;
	}
}

@media (max-width: 1040px) {
	.services-container {
		width: 640px;
	}

	.services-table {
		font-size: 16px;
	}

	.td-price-tire {
		width: 260px;
	}

	.td-price-tire-2 {
		width: 80px;
	}

	.td-price-collapse {
		width: 150px;
	}

	.tire-description,
	.painting-description {
		font-size: 18px;
	}
}

@media (max-width: 720px) {
	.services-container {
		width: 90vw;
	}

	.services-table {
		font-size: 14px;
	}

	.services-container h2 {
		font-size: 34px;
	}

	.services-container h3 {
		font-size: 28px;
	}

	.tire-description,
	.painting-description {
		font-size: 16px;
	}

	.td-price-tire {
		width: 150px;
	}

	.td-price-tire-2 {
		width: 75px;
	}

	.td-price-collapse {
		width: 70px;
	}

	.price-separator {
		display: none;
	}

	.price-separator-br {
		display: inline;
	}

	.td-price-s {
		font-size: 11px;
	}

	.td-price-tire-pc {
		display: none;
	}

	.td-price-tire-ph {
		display: inline;
	}
}

@media (max-width: 530px) {
	.services-table {
		font-size: 12px;
	}

	.services-container h2 {
		font-size: 30px;
	}

	.services-container h3 {
		font-size: 26px;
	}

	.tire-description,
	.painting-description {
		font-size: 14px;
	}

	.td-price-tire {
		width: 120px;
	}

	.td-price-tire-2 {
		width: 68px;
	}

	.td-price-collapse {
		width: 65px;
	}

	.td-price-s {
		font-size: 10px;
	}
}

@media (max-width: 460px) {
	.services-table {
		font-size: 12px;
	}

	.services-container h2 {
		font-size: 25px;
		padding: 0 10px;
		padding-bottom: 30px;
	}

	.services-container h3 {
		font-size: 22px;
		padding: 0 10px;
	}

	.tire-description {
		font-size: 12px;
		padding: 30px 10px;
	}

	.td-price-tire {
		width: 100px;
	}

	.td-price-tire-2 {
		width: 55px;
	}

	.td-price-collapse {
		width: 55px;
	}

	.painting-ph {
		display: none;
	}

	.painting-ph-2 {
		display: table;
	}

	.td-padd {
		padding: 3px;
	}
}

@media (max-width: 320px) {
	.services-container h2 {
		font-size: 20px;
		padding: 0 5px;
		padding-bottom: 20px;
	}

	.services-container h3 {
		font-size: 18px;
		padding: 0 5px;
	}

	.services-table {
		padding: 15px 0px;
	}

	.tire-description {
		font-size: 12px;
		padding: 15px 10px;
	}
}

/*ОТЗЫВЫ*/

.Reviews {
	padding: 100px 0px;
}

.reviews-container {
	max-width: 820px;
	margin: auto;
	width: 100%;
	background: #2a2a2d;
	border-radius: 16px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
	overflow: hidden;
}

.reviews-header {
	background: #000000;
	color: #fff;
	padding: 25px;
	text-align: center;
}

.reviews-header h2 {
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 10px;
}

.average-rating {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 15px;
}

.average-rating .stars {
	font-size: 18px;
	color: #ffd700;
}

.average-rating .rating-value {
	font-size: 18px;
	font-weight: 600;
}

.reviews-body {
	padding: 30px;
}

.review-card {
	padding: 25px;
	border-radius: 12px;
	background: #bbc3c630;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
	border-left: 4px solid #962715;
	transition: transform 0.3s ease;
}

.review-card:hover {
	transform: translateY(-3px);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.review-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.reviewer-info {
	display: flex;
	align-items: center;
	gap: 12px;
}

.avatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #3a3a3d;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #fff;
	border: 2px solid #962715;
}

.reviewer-name {
	font-weight: 600;
	font-size: 16px;
	color: #ffffff;
}

.review-date {
	color: #bbc3c6;
	font-size: 14px;
}

.review-rating {
	color: #ffd700;
	font-size: 16px;
}

.review-text {
	color: #ffffff;
	line-height: 1.6;
	margin-bottom: 15px;
}

.review-footer {
	display: flex;
	justify-content: space-between;
	color: #bbc3c6;
	font-size: 14px;
}

.controls {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.nav-btn {
	background: #962715;
	color: #fff;
	font-size: 16px;
	border: none;
	padding: 12px 25px;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 8px;
	transition: background 0.3s;
}

.nav-btn:hover {
	background: #7a1f10;
}

.nav-btn:disabled {
	background: #bbc3c630;
	cursor: not-allowed;
}

.counter {
	display: flex;
	align-items: center;
	color: #bbc3c6;
	font-size: 15px;
}

.all-reviews {
	text-align: center;
	margin-top: 40px;
	padding-top: 25px;
	border-top: 1px solid #5a5a5d;
}

.all-reviews-link {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	padding: 10px 20px;
	border: 1px solid #fff;
	border-radius: 8px;
	transition: all 0.3s;
}

.all-reviews-link:hover {
	background: #962715;
	border: 1px solid #962715;
	color: white;
}

@media (max-width: 600px) {
	.review-header {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}

	.reviews-header h2 {
		font-weight: 400;
		font-size: 28px;
	}

	.controls {
		flex-direction: column;
		gap: 15px;
	}

	.nav-btn {
		width: 100%;
		justify-content: center;
	}

	.counter {
		justify-content: center;
	}
}

/*КОНТАКТЫ*/

.Contacts {
	height: 720px;
	padding: 100px 0;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../img/map.webp');
	background-size: cover;
	background-position: center 0;
	color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.Contacts p {
	font-size: 22px;
	font-weight: 100;
	text-align: center;
}

.Contacts h2 {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}

.contacts {
	background-color: #000000cb;
	padding: 50px;
	border-radius: 40px;
	font-size: 22px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cont span {
	color: #bbc3c6;
}

.cont-br960 {
	display: none;
}

.cont-br640 {
	display: none;
}

.contacts-sn {
	height: 50px;
	padding: 0 125px;

	display: flex;
	justify-content: space-between;
}

.cont-sn img {
	height: 50px;
	width: 50px;
}

@media (max-width: 960px) {
	.Contacts {
		height: 670px;
		padding-bottom: 40px;
	}

	.contacts {
		width: 620px;
		font-size: 21px;
		border-radius: 30px;
		padding: 30px;
	}

	.cont-br960 {
		display: inline;
	}
}

@media (max-width: 640px) {
	.Contacts {
		height: 580px;
	}

	.Contacts p {
		font-size: 18px;
	}

	.Contacts h2 {
		font-size: 40px;
	}

	.contacts {
		width: 300px;
		font-size: 16px;
		padding: 20px 30px;
		border-radius: 25px;
	}

	.cont-br640 {
		display: inline;
	}

	.contacts-sn {
		height: 40px;
		padding: 0 20px;
	}

	.cont-sn img {
		height: 40px;
		width: 40px;
	}
}

@media (max-width: 300px) {
	.Contacts {
		height: 520px;
		padding-top: 100px;
		padding-bottom: 50px;
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
			url('../img/map.webp');
		background-size: cover;
		background-position: center 0;
		color: #fff;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.Contacts p {
		font-size: 16px;
	}

	.Contacts h2 {
		font-size: 34px;
	}

	.contacts {
		width: 98%;
		font-size: 14px;
		padding: 10px;
		border-radius: 25px;
	}

	.contacts-sn {
		height: 35px;
		padding: 0 20px;
	}

	.cont-sn img {
		height: 35px;
		width: 35px;
	}
}

/*ПОДВАЛ*/

footer {
	padding: 25px 0;
	background-color: #000000;

	display: flex;
	justify-content: center;
}

.Footer {
	width: 100%;
}

.footer-container {
	height: 120px;
	max-width: 1840px;
	padding: 0 200px;
	margin: auto;

	display: flex;
	justify-content: space-between;
	align-self: center;
}

.footLogo {
	height: 50px;
	margin: 20px 0;
	align-self: center;
}

.footLogo img {
	height: 50px;
}

.foot-contact {
	height: 100%;
	color: #fff;
	font-size: 16px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (max-width: 960px) {
	.footer-container {
		height: 200px;
		padding: 0 0;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
	}
}
